.side {
    background: none;
    margin: $margin-medium;
}

/* "More" links like the submission buttons and "Create your own subreddit" button. */
.morelink {
    background: none;
    border: none;

    .nub {
        // Hide the default 'end cap' on the morelink buttons.
        display: none;
    }
}

/* The box in the sidebar that contains information like
the subreddit name, subscribe button, and user count. */
.titlebox {
    background-color: none;
    padding: 20px;
    border-radius: $default-border-radius;
    border: 1px solid white;
}

/* The text for the total subscriber count. */
.subscribers {
    .word {
        display: none;
    }

    .number::after {
        content: ' hodlers'
    }
}

/* The text for the number of users online. */
.users-online {
    .word {
        display: none;
    }

    .number::after {
        content: ' hodlers here now'
    }
}

.subscribe-button {
    width: 100%;
    
    .option.active {
        background: none;
        text-transform: capitalize;
        font-weight: normal;
        border: 1px solid white;
        display: block;
        line-height: 40px;
        font-size: 1.3em;
        text-align: center;
    }
}