$background-color: #444444;
$secondary-background-color: #222222;

$primary-text-color: white;

$link-color: $primary-text-color;
$link-visited-color: $link-color;
$link-active-color: $link-color;
$link-hover-color: $link-color;